.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 6em 3em 2em 3em;
    background-color: $color1;
    color: $color3;
    gap: .5em;
    text-align: center;

    &_loc{
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: $color2;
        padding: 1em 1em;
        border-radius: 40px;
        
        img{
            width: 30px;
        }

        &_title{
            font-size: 20px;
            display: block;
            margin-left: .5em;
        }
    }

    &_capt{
        margin-top: .7em;
        display: block;
        @include text(30px, bold);
    }

    &_title{
        display: block;
        @include text(16px, 300);
        line-height: 25px;
        color: $color4;
    }

    &_button{
        text-decoration: none;
        margin-top: 1em;

        &_call{
        @include text(18px, medium);
        color: $color3;
        border-radius: 40px;
        padding: .8em 2em;
        display: block;
        background-color: $color5;
        text-decoration: none;
        cursor: pointer;
        }
    }

    &_support{
        margin-top: 5em;
        margin-bottom: 3em;

        &_title{
            color: $color4;
            letter-spacing: 1px;
            @include text(15px, 300);
            display: block;
            padding-bottom: 2em;
        }
        
        &_logo{
            display: flex;
            align-items: center;
            flex-direction: row;
            gap: 25px;

            .hero_logo{
            width: 65px;
            }
        }
    }
}