nav{
    background-color: $color1;
    display: flex;
    justify-content: space-between;
    padding: 2em 2.5em;
    align-items: center;

    @include responsive(s){
    justify-content: space-between;
    padding: 1.5em 1.5em;
    }

    @include responsive(m){
    justify-content: space-between;
    padding: 1.5em 3em;
    }

    @include responsive(l){
    justify-content: space-between;
    padding: 1.5em 5em;
    }

    @include responsive(xl){
    justify-content: space-between;
    padding: 1.5em 15em;
    }

    .logo{
        z-index: 10;
        span{
            display: block;
            @include text(15px, thin);
            color: $color3;
            z-index: 10;
        }
    }

    .menu{
        position: absolute;
        right: 0;
        top: 0;
        flex-direction: column;
        list-style-type: none;
        background-color: $color1;
        height: 100vh;
        display: flex;
        justify-content: center;
        z-index: 2;
        width: 100%;
        align-items: center;
        transform: translateY(-100%);
        transition: all 0.5s;
        gap: 2em;

        @include responsive(m){
            display: flex;
            position: static;
            flex-direction: row;
            align-items: center;
            height: 0;
            justify-content: space-between;
            transform: translateY(0);
            transition: none;
            z-index: 1;
            gap: 0;
            width: 40%;
        }

        @include responsive(m){
        width: 40%;
        }

        @include responsive(l){
        width: 30%;
        }

        @include responsive(xl){
        width: 30%;
        }

        li a{
            color: $color3;
            text-decoration: none;
            font-size: 20px;

            @include responsive(s){
            font-size: 18px;
            }
        }
    }

    .nav_toggle{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 20px;
        position: relative;

        @include responsive(m){
        display: none;
        }

        input{
            width: 30px;
            height: 35px;
            opacity: 0;
            left: -3px;
            top: -7px;
            position: absolute;
            cursor: pointer;
            z-index: 5;
        }

        span{
            cursor: pointer;
            display: block;
            width: 25px;
            height: 2px;
            background-color: $color3;
            transition: all 0.5s;
            z-index: 3;

            &:nth-child(2){
                transform-origin: 0 0;
            }

            &:nth-child(4){
                transform-origin: 0 100%;
            }
        }
        
    }

    .nav_button{
        display: none;

        @include responsive(m){
            display: block;

            &_link{
                text-decoration: none;
                color: $color3;
                display: block;
                border: 1px solid $color3;
                padding: .4em 1em;
                border-radius: 20px;
                cursor: pointer;
                display: flex;
                align-items: center;
                gap: 5px;
            }
        }
    }

    .nav_toggle input:checked ~ span:nth-child(2){
        transform: rotate(45deg) translate(0px, -1px);
    }

    .nav_toggle input:checked ~ span:nth-child(4){
        transform: rotate(-45deg) translate(-1px, 0);
    }

    .nav_toggle input:checked ~ span:nth-child(3){
        transform: scale(0);
    }
}

nav ul.slide{
    transform: translateX(0);
}