@import 'var/function';
@import 'var/med_query';

// Component
// @import'style_comp/nav';
// @import'style_comp/hero';
// @import'style_comp/service';
// @import'style_comp/review';
// @import'style_comp/gallery';
// @import'style_comp/faq';
// @import'style_comp/footer';


body {
    background-color: $color3;
    font-family: 'Poppins', sans-serif;
    color: $color1;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
}



